<div *ngIf="viewMode; else editable">
  <div class="card" style="margin-top: 36px" *ngIf="currentDepense.id">
    <div class="card-header">Détail de la dépense</div>
    <div class="card-body">
      <div>
        <div>
          <label
            ><strong>{{ currentDepense.title }}</strong></label
          >
        </div>
        <div>
          <label><strong>Montant : </strong></label>
          {{ currentDepense.amount }} €
        </div>
        <div>
          <label><strong>Date : </strong></label>
          {{ currentDepense.date | date : "dd/MM/yyyy" }}
        </div>
      </div>

      <a
        class="btn btn-outline-primary"
        routerLink="/depenses/{{ currentDepense.id }}"
        style="margin-top: 10px"
      >
        Modifier
      </a>
      <button
        class="btn btn-outline-danger"
        style="margin-top: 10px; margin-left: 15px"
        (click)="deleteDepense()"
      >
        Supprimer
      </button>
    </div>
  </div>
</div>

<ng-template #editable>
  <div
    class="d-flex justify-content-center"
    style="width: 100%; margin-top: 50px"
  >
    <div class="card" style="width: 600px">
      <div class="card-header">Modification de la dépense</div>
      <div class="card-body">
        <div class="submit-form">
          <div>
            <div class="form-group">
              <label for="title">Titre de la dépense</label>
              <input
                type="text"
                class="form-control"
                id="title"
                required
                [(ngModel)]="currentDepense.title"
                name="title"
                maxlength="23"
              />
            </div>

            <div style="margin-top: 20px; width: 150px">
              <label for="description">Montant</label>
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  id="amount"
                  required
                  [(ngModel)]="currentDepense.amount"
                  name="amount"
                  style="width: 100px"
                />
                <span class="input-group-text">€</span>
              </div>
            </div>

            <div>
              <label for="description">Date</label>
              <input
                type="date"
                class="form-control"
                id="date"
                required
                [(ngModel)]="currentDepense.date"
                name="date"
              />
            </div>

            <button
              (click)="updateDepense()"
              class="btn btn-outline-success"
              style="margin-top: 20px"
            >
              Modifier
            </button>
            <button
              (click)="deleteDepense()"
              class="btn btn-outline-danger"
              style="margin-top: 20px; margin-left: 15px"
            >
              Supprimer
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-template>
