<div *ngIf="viewMode; else editable">
    <div class="card" style="margin-top: 36px;" *ngIf="currentDepense.id">
        <div class="card-body">
          <h4 class="card-title">Détail de la dépense</h4>
          <div>
            <label><strong>{{ currentDepense.title }}</strong></label> 
          </div>
          <div>
            <label><strong>Montant : </strong></label>
            {{ currentDepense.amount }} €
          </div>
          <div>
            <label><strong>Date : </strong></label>
            {{ currentDepense.date ? "Date" : "No Date" }}
          </div>
      
          <a
            class="btn btn-outline-primary"
            routerLink="/depenses/{{ currentDepense.id }}"
            style="margin-top: 10px;"
          >
            Modifier
          </a>
          <button class="btn btn-outline-danger" style="margin-top: 10px; margin-left: 15px;" (click)="deleteDepense()">
              Supprimer
            </button>
        </div>
      </div>

  <div *ngElse="!currentDepense">
    <br />
  </div>
</div>

<ng-template #editable>
  <div *ngIf="currentDepense.id" class="edit-form">
    <h4>Depense</h4>
    <form>
      <div class="form-group">
        <label for="title">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          [(ngModel)]="currentDepense.title"
          name="title"
        />
      </div>
      <div class="form-group">
        <label for="amount">Amount</label>
        <input
          type="text"
          class="form-control"
          id="description"
          [(ngModel)]="currentDepense.amount"
          name="amount"
        />
      </div>

      <div class="form-group">
        <label><strong>Date:</strong></label>
        {{ currentDepense.date ? "Date" : "No Date" }}
      </div>
    </form>

    <button class="badge badge-danger mr-2" (click)="deleteDepense()">
      Delete
    </button>

    <button
      type="submit"
      class="badge badge-success mb-2"
      (click)="updateDepense()"
    >
      Update
    </button>
    <p>{{ message }}</p>
  </div>

  <div *ngIf="!currentDepense.id">
    <br />
    <p>Cannot access this Depense...</p>
  </div>
</ng-template>
