<div class="container">
  <div class="row">
    <div class="col mb-4">
      <h2 class="text-center">Bienvenue sur Tipls !</h2>
      <p class="text-center">
        Tipls est une application conçue pour vous aider à gérer vos dépenses.
        Vous pouvez créer, modifier, supprimer et rechercher des dépenses. Nous
        travaillons actuellement sur l'ajout de nouvelles fonctionnalités, y
        compris la gestion de plusieurs utilisateurs et la création de
        différents espaces. Restez à l'écoute pour les mises à jour!
      </p>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h3 class="text-primary">Développées</h3>
        <ul class="list-group">
          <li class="list-group-item">Création d'une dépense</li>
          <li class="list-group-item">Modification d'une dépense</li>
          <li class="list-group-item">Suppression d'une dépense</li>
          <li class="list-group-item">Affichage du détail d'une dépense</li>
          <li class="list-group-item">Affichage de la liste des dépenses</li>
          <li class="list-group-item">Suppression de toutes les dépenses</li>
          <li class="list-group-item">Recherche d'une dépense par nom</li>
        </ul>
      </div>
      <div class="col">
        <h3 class="text-warning">En cours de développement</h3>
        <ul class="list-group">
          <li class="list-group-item">Création d'un compte utilisateur</li>
          <li class="list-group-item">Gestion de plusieurs utilisateurs</li>
          <li class="list-group-item">Création de différents espaces</li>
          <li class="list-group-item">
            Ajout d'autres utilisateurs sur un espace commun
          </li>
          <li class="list-group-item">
            Ajout d'utilisateur sur une même dépense
          </li>
          <li class="list-group-item">Equilibre entre les utilisateurs</li>
        </ul>
      </div>
    </div>
  </div>
</div>
