<div class="d-flex justify-content-center" style="width: 100%; margin-top: 50px;">
  <div class="card" style="width: 600px">
    <div class="card-header">Ajout d'une dépense</div>
    <div class="card-body">
      <div class="submit-form">
        <div *ngIf="!submitted">
            <div class="form-group">
                <label for="title">Titre de la dépense</label>
                <input
                  type="text"
                  class="form-control"
                  id="title"
                  required
                  [(ngModel)]="depense.title"
                  name="title"
                  maxlength="23"
                />
              </div>

          <div style="margin-top: 20px; width: 150px">
            <label for="description">Montant</label>
            <div class="input-group">
              <input
                type="number"
                class="form-control"
                id="amount"
                required
                [(ngModel)]="depense.amount"
                name="amount"
                style="width: 100px"
              />
              <span class="input-group-text">€</span>
            </div>
          </div>

          <button
            (click)="saveDepense()"
            class="btn btn-success"
            style="margin-top: 20px"
          >
            Ajouter
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
